<mat-card>
  <mat-card-content>
    <h3>Add match</h3>
    <form class="match-form">
      <p>
        <mat-form-field class="form-full-width">
          <mat-label>Date</mat-label>
          <input [(ngModel)]="date" name="date" matInput placeholder="dd/mm/yyyy">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="form-full-width">
          <mat-label>League</mat-label>
          <input [(ngModel)]="league" name="league" matInput placeholder="Ex: Premier League">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="form-full-width">
          <mat-label>Home team</mat-label>
          <input [(ngModel)]="team1" name="team1" matInput placeholder="Ex: My Team">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="form-full-width">
          <mat-label>Away team</mat-label>
          <input [(ngModel)]="team2" name="team2" matInput placeholder="Ex: My Team">
        </mat-form-field>
      </p>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="add-button">
      <button mat-raised-button color="primary" (click)="post(date)">ADD</button>
    </div>
  </mat-card-actions>
</mat-card>
